<% unless @search_data.nil? %>
  <div class="col-md-8">
    <p><%= @search_data[:results].search_information.total_results %> resultado</p>
    <% unless @search_data[:results].items.nil? %>
        <% @search_data[:results].items.each do |item| %>
          <div class="resultado">
            <h4><a href="<%= item.link %>"><%= raw item.title %></a></h4>
            <p><%= item.link %></p>
            <p>
              <%= bold_search_words(item.snippet, @search_data[:words_with_variants].flatten) %>
            </p>
          </div>
        <% end %>
        <ul class="pagination">
          <!-- <li class="disabled"><a href="#">«</a></li> -->
          <% 0.upto(@search_data[:results].search_information.total_results / 10) do |i| %>
            <li class="<%= 'active' if @search_data[:start] == (i * 10) + 1 %>"><a href="/search?utf8=✓&q=<%= @q %>&elimina_otro_idioma=<%= @elimina_otro_idioma %>&start=<%= (i * 10) + 1 %>"><%= i + 1 %></a></li>
            <% break if i >= 10 %>
          <% end %>
        </ul>
    <% end %>
  </div>
<% end %>
