<div class="row" id="content">

  <div id="kabes" class="medium-11 columns text-center">
      <h1>Motor di búskeda inteligente</h1>
      <%= form_tag("/search", method: "get") do %>
      <%= text_field_tag(:q, @q) %>
      <%= submit_tag("Search") %>

      <% end %>
  </div>

  <div class="medium-8 columns">
    <% unless @results.nil? %>
      <p><%= @results.search_information.total_results %> resultado. <%= @q_with_variants %></p>
      <% @results.items.each do |item| %>
        <div class="blog-post">
          <a href="<%= item.link %>"><h3><%= raw item.html_title %></h3></a>
          <p><%= item.link %></p>
          <p><%= raw item.html_snippet %></p>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="medium-3 columns" data-sticky-container>
    <!--
    <div class="sticky" data-sticky data-anchor="content">
      <h4>Categories</h4>
      <ul>
        <li><a href="#">Skyler</a></li>
        <li><a href="#">Jesse</a></li>
        <li><a href="#">Mike</a></li>
        <li><a href="#">Holly</a></li>
      </ul>

      <h4>Authors</h4>
      <ul>
        <li><a href="#">Skyler</a></li>
        <li><a href="#">Jesse</a></li>
        <li><a href="#">Mike</a></li>
        <li><a href="#">Holly</a></li>
      </ul>
    </div>
  -->
  </div>
</div>

<div class="row column">
  <!--
  <ul class="pagination" role="navigation" aria-label="Pagination">
    <li class="disabled">Previous</li>
    <li class="current"><span class="show-for-sr">You're on page</span> 1</li>
    <li><a href="#" aria-label="Page 2">2</a></li>
    <li><a href="#" aria-label="Page 3">3</a></li>
    <li><a href="#" aria-label="Page 4">4</a></li>
    <li class="ellipsis"></li>
    <li><a href="#" aria-label="Page 12">12</a></li>
    <li><a href="#" aria-label="Page 13">13</a></li>
    <li><a href="#" aria-label="Next page">Next</a></li>
  </ul>
-->
</div>
