<div class="col-md-6 col-md-offset-3" style="margin-top: 8%;">
  <div class="row">
    <div id="logo" class="text-center">
      <h1>Iguana</h1><p>Búskeda inteligente di informashon na Papiamentu</p>
    </div>
    <%= form_tag("/search", method: "get") do %>
      <div class="form-group">
        <div class="input-group">
          <input id="1" class="form-control" value="<%= @q %>" type="text" name="q" placeholder="Buska..." required/>
          <span class="input-group-btn">
            <button class="btn btn-success" type="submit">
              <i class="glyphicon glyphicon-search" aria-hidden="true"></i> Buska
            </button>
          </span>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="col-md-12 col-md-offset-1" style="margin-top: 4%;">
<% unless @results.nil? %>
  <p><%= @results.search_information.total_results %> resultado. <%= @q_with_variants %></p>
  <% unless @results.items.nil? %>
    <% @results.items.each do |item| %>
        <div>
          <h4><a href="<%= item.link %>"><%= raw item.html_title %></a></h4>
          <p><%= item.link %></p>
          <p><%= raw item.html_snippet %></p>
        </div>
      <% end %>
      <ul class="pagination">
        <!-- <li class="disabled"><a href="#">«</a></li> -->
        <% 0.upto(@results.search_information.total_results / 10) do |i| %>
          <li class="<%= 'active' if @start == (i * 10) + 1 %>"><a href="/search?utf8=✓&q=<%= @q %>&start=<%= (i * 10) + 1 %>"><%= i + 1 %></a></li>
          <% break if i >= 10 %>
        <% end %>
        <!-- <li><a href="/search?utf8=✓&q=<%= @q %>&start=<%= @start + 10 %>">»</a></li> -->
      </ul>
    <% end %>
  <% end %>
</div>
