<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= content_for?(:title) ? yield(:title) : "ABClink | Un plataforma pa union i desaroyo di Papiamentu den era digital" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body>

    <%= render 'layouts/nav' %>

    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <%= yield %>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
